body {
    padding-top: 5rem;
    background-color: rgb(243, 240, 239);
}

h5{
    padding-top: 10px;
    text-align: center;
}


h3{
    padding-bottom: 2%;
    text-align: center;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}


#form-label{
    padding-bottom:3px;
}


.grid-container input[type=text]{
    height: 5%;
    box-sizing: border-box;
    border-radius: 5px;
    width:75%;
    padding: 4%;
    border: 1px solid #adb5bd;
}


.grid-container #form-label-l{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    
}

.grid-container #form-label-r{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.grid-container #form-label-l-2{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    
}

.grid-container #form-label-r-2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}

.grid-container #form-label-l-3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    
}

.grid-container #form-label-r-3{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

main{
    padding-left: 10%;
    padding-right: 10%;
}

#form-label input[type=text]{
    width: 87%;
    height: 7%;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #adb5bd;
    
}

.page-header{
    font-weight: bold;
    padding-left: 3%;
    padding-bottom: 2%;
}


textarea{
    width: 87%;
    height: 26%;
    box-sizing: border-box;
    border-radius: 7px;
    border: 1px solid #adb5bd;
}

form{
    padding-top: 3%;
    padding-bottom: 15%;
}

.grey{
    padding:5%;
    padding-top:5%;
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.grey #form-label-location input[type=text]{
    height: 6%;
    box-sizing: border-box;
    border-radius: 5px;
    width:38%;
    border: 1px solid #adb5bd;
}

.grey #form-label{
    padding-bottom:3%;
}

.grey #form-label-location{
    padding-top: 0%;
}


select{


    width: 75%;
    height: 36%;
    border-radius: 5px;
    border: 1px solid #adb5bd;
    color:black;
}

#btn button{
    border-radius: 5px;
    background-color: #0d6efd;
    color: white;
    padding: 5px 7px;
    border: none;
}

 #btn-pad button:hover, #btn button:hover {
    background-color: white;
    color:black;
    transition: 1s;
    border: 2px solid #3eabee;
}


input[type=file]::file-selector-button {
    border: none;
    padding: .2em .4em;
    border-radius: .2em;
    transition: 1s;
    background-color: white;
    color: black;
    border: 1px solid #adb5bd;
  }
  
input[type=file]::file-selector-button:hover {
    background-color: #0d6efd;
    border: 2px solid #3eabee;
}

#btn{
    padding-top: 10px;
}

button input[type=file] {
    border-radius: 25px;
    border: none;
}


#smaller-icon img{
    width: 330px;
    height: 200px;
}


.grid-container-properties{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    align-items: stretch;
    justify-items: stretch;
}

.grid-item-properties .white-p{
    width: 330px;
    height: 150px;
}

.grid-item-properties .white{
    width: 330px;
    height: 400px;
}

.grid-container-property{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    align-items: stretch;
    justify-items: stretch;

}

.white{
    background-color: white;
    padding: 7px;
}

.white-p{
    background-color: white;
    padding-bottom: 5%;
}

.green{
    background-color: #0d6efd;
    width: 330px;
}

.littleimg{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding-bottom: 7px;
}


#temp{

    padding-left: 5%;
}
.pricey{
    border-radius: 25px;
    background-color: #41c973;
    width:fit-content;
    overflow: hidden;
    white-space: nowrap;
    color:white;
    align-self: center;
    padding:2% 5%;
}

.green a:link, a:active, a:visited, a:hover {
    color:white;
    text-decoration: none;
    text-align: center;
    padding-left: 33%;
}

.green{
    padding: 3% 0px;
}

.grid-item-property{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr;
    padding: 0%;
    
}

#favicon{
    padding-bottom: 4%;
}


#favicon svg {
    width: 40px;
    height: 23px;
    padding-right: 3%;
}

#favicon-p svg{
    height: 30px;
    width:30px;
    padding-bottom: 5px;
    
}

.flasher{
    background-color: rgba(97, 212, 122, 0.6);
    border-color: #3d6c3e;
    color: #ffffff;
    border-radius: 5px;
    width: fit-content;
}

#price{
    background-color: #41c973;
    width:fit-content;
    justify-self: center;
    height: fit-content;
    border-radius: 25px;
    overflow: hidden;
    white-space: nowrap;
    padding: 2% 5%;
    text-align: center;

}

#type-orange{
    background-color: #0d6efd;
    height: fit-content;
    justify-self: center;
    width:fit-content;
    border-radius: 25px;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    overflow: hidden;
    white-space: nowrap;
    padding: 2% 5%;

}

#option select{
    width: 38%;
    height:7%;
    border-radius: 5px;
    border: 2px solid #adb5bd;
    color:black;
}


p{
    padding-top:5%;
}

#side-view img{
    width: 100%;
    height:100%;
    object-fit: cover;
    max-height: fit-content;
    max-width: fit-content;
}

.spacer{
    padding: 3.5%;
    
    justify-items: center;
}

.runner{
    display: grid;
    padding-left: 3%;
    padding-bottom: 3px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.runner-new{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    color:white;
}


#tenure{
    border-radius: 25px;
    background-color: #f09037;
    width:fit-content;
    justify-self: center;
    height: fit-content;
    overflow: hidden;
    white-space: nowrap;
    align-self: center;
    padding: 2% 5%;
}

#btn-pad{
    padding-top: 10px;
}

#btn-pad button { 
    border-radius: 5px;
    background-color: #0d6efd;
    border:none;
    color: white;
    padding: 5px 8px;
    
}
  

