<main> 
    {% extends 'base.html' %}
    {% block main %}

   
    
    {% include 'flash_messages.html' %}

    <div class="form-background">
        <h1 class="page-header">Add Property</h1>

        <form action="{{url_for('create')}}" method="POST" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <div class="grey">

                <div id="form-label">{{ form.title.label }}</p>
                    {{form.title}}
                <br>
                </div>
                
                <div id="form-label">{{ form.description.label }}
                <br>
                    {{form.description}}
                </div>


                <div class="grid-container">

                    <div id="form-label-l"> {{ form.no_of_bedrooms.label }}
                    <br>
                        {{form.no_of_bedrooms}}
                    </div>

                    
                    <div id="form-label-r"> {{ form.no_of_bathrooms.label }}
                        <br>
                        {{form.no_of_bathrooms}}
                    </div>
                    

                    <div id="form-label-l-2"> {{ form.prices.label }}
                        <br>
                        {{form.prices}}
                    </div>
                    

                    <div id="form-label-r-2"> {{ form.types.label }}
                        <br>
                        {{form.types}}
                    </div>
                
                
                
                <div id="form-label-l-3"> {{ form.location.label }}
                    <br>
                    {{form.location}}
                </div>

                <div id="form-label-r-3"> {{ form.option.label }}
                    <br>
                    {{form.option}}
                </div>

            </div>
                

                <br>
                <div id="form-label"> {{ form.photo.label }}
                    <br>
                    <div class="file"><input type="file" name="photo"/></div>
                </div>

                <div id="btn"><button type="submit">Add Property</button></div>
                <br>

               
            </div>
        </form>

    </div>
    
    
    {% endblock %}