<main> 
    {% extends 'base.html' %}
    {% block main %}

   
    
    {% include 'flash_messages.html' %}

    <div class="form-background">
        <h1>Add New Property</h1>

        <form action="{{url_for('create')}}" method="POST" enctype="multipart/form-data">
            <div class="grey">

                <div id="form-label">{{ form.title.label }}</p>
                    {{form.title}}
                <br>
                </div>

                
                <div id="form-label">{{ form.description.label }}
                <br>
                    {{form.description}}
                </div>


                <div class="grid-container">

                    <div id="form-label-l"> {{ form.no_of_bedrooms.label }}
                    <br>
                        {{form.no_of_bedrooms}}
                    </div>

                    
                    <div id="form-label-r"> {{ form.no_of_bathrooms.label }}
                        <br>
                        {{form.no_of_bathrooms}}
                    </div>
                    

                    <div id="form-label-l-2"> {{ form.price.label }}
                        <br>
                        {{form.price}}
                    </div>
                    

                    <div id="form-label-r-2"> {{ form.type.label }}
                        <select name="type">
                            {% for type in housing %}
                            <option value="{{type }}">{{ type }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                
                


                <div id="form-label-location"> {{ form.location.label }}
                    <br>
                    {{form.location}}
                </div>
                

                <br>
                <div id="form-label"> {{ form.photo.label }}
                    <br>
                    <input type="file" name="photo"/>
                    <br>
                </div>

                <br>
                <div id="btn"><button type="submit">Add Property</button></div>
                <br>

                {{ form.csrf_token }}
            </div>
        </form>

    </div>
    
    
    {% endblock %}