<main> 
    {% extends 'base.html' %}
    {% block main %}

    <h1>Add New Property</h1>
    <hr>
    <br>
    
    {% include 'flash_messages.html' %}

    <div class="form-background">
        <form action="{{url_for('create')}}" method="POST" enctype="multipart/form-data">
            
            <div class="form-label">{{ form.title.label }}</p></div>
                {{form.title}}
            <br>

                
            <div class="form-label">{{ form.description.label }}</div>
                {{form.description}}
            <br>

            
            <div class="form-label"> {{ form.no_of_bedrooms.label }}</div>
                {{form.no_of_bedrooms}}
            <br>

            <div class="form-label"> {{ form.no_of_bathrooms.label }}</div>
                {{form.no_of_bathrooms}}
            <br>

            <div class="form-label"> {{ form.price.label }}</div>
                {{form.price}}
            <br>

            <div class="form-label"> {{ form.type.label }}</div>
            <select name="type">
                {% for type in housing %}
                <option value="{{type }}">{{ type }}</option>
                {% endfor %}
        </select>


            <div class="form-label"> {{ form.location.label }}</div>
                {{form.location}}
            <br>

            <br>
            <input type="file" name="photo"/>
            <br>

            <br>
            <div id="btn"><button type="submit">Send</button></div>
            <br>

            {{ form.csrf_token }}
        </form>

    </div>
    
    
    {% endblock %}