   
{% extends 'base.html' %}

{% block main %}
<h1 class="page-header">Properties</h1>

{% include 'flash_messages.html' %}

<ul>
    {% for i in res[1] %}
        {% if i['propertyid']|string() == res[0]|string() %}
        <div class=" grid-item-property">
            <div  id= "side-view"><img src="{{url_for('get_image', filename = i['image_name'])}}"/></li></div>
            <div class="white">
                <div class="spacer">
                    <h1>{{i['title']}}</h1>
                        <div class="runner">
                            {{i['price']}}
                            {{i['type']}}
                        </div>
                    {{i['description']}}
                    <br>
                    {{i['no_of_bedrooms']}} Bedrooms
                    {{i['no_of_bathrooms']}} Bathrooms
                    <br>
                    {{i['location']}}
                    <br>
                    <div id="btn"><button type="submit">Email Realtor</button></div>
                </div>
            </div>
            {%endif%}
        </div>
    </ul>
    {%endfor%}
    </div>
</ul>
<br>

{% endblock %}