<body>
{% extends 'base.html' %}

{% block main %}
<h1 class="page-header">Properties</h1>

{% include 'flash_messages.html' %}

<ul>
    {% for i in res[1] %}
        {% if i['propertyid']|string() == res[0]|string() %}
        <div class=" grid-item-property">
            <div  id= "side-view"><img src="{{url_for('get_image', filename = i['image_name'])}}"/></div>
            <div class="white">
                <div class="spacer">
                    <h3>{{i['title']}}</h3>
                        <div class="runner-new">
                            <div id= "price"> {{i['prices']}} </div>
                            <div id= "type-orange">{{i['types']}}</div>
                            <div id= "tenure"> For {{i['option']}}</div>

                        </div>
                    <p>{{i['description']}}</p>
                    <div class="littleimg">
                        <div id="favicon-p"><i class="fi fi-rr-home"></i>/i>&nbsp; {{i['no_of_bedrooms']}} Bedrooms</div>
                        <div id="favicon-p"><i class="fi fi-ss-raindrops"></i>&nbsp; {{i['no_of_bathrooms']}} Bathrooms</div>
                    </div>
                    <div id="favicon-p"><i class="fi fi-sr-marker"></i>&nbsp; {{i['location']}}</div>
                    <div id="btn-pad"><button type="submit">Email Realtor</button></div>
                </div>
            </div>
            {%endif%}
        </div>
    </ul>
    {%endfor%}
    </div>
</ul>
<br>

{% endblock %}
</body>