   
{% extends 'base.html' %}

{% block main %}
<h1 class="page-header">Properties</h1>

{% include 'flash_messages.html' %}

<ul>
    <div class = cards>
        <div class = "grid-container-properties">
            <div class=" grid-item-properties">
                {% for i in res %}
                    <img src="{{url_for('get_image', filename = i['image_name'])}}"/>
                    <div class="white">
                        <h4>{{i['title']}}</h4>
                        <br>
                        <div id="temp">
                            <p>{{i['location']}}</p>
                            <p><div class = 'pricey'>{{i['price']}}</div></p>
                        </div>
                        <br>
                    </div>
                {%endfor%}
            </div>
        </div>
    </div>
</ul>
{% endblock %}
