   
{% extends 'base.html' %}

{% block main %}
<h1 class="page-header">Properties</h1>

{% include 'flash_messages.html' %}

<ul>
    <div class = "grid-container-properties">
        {% for i in res %}
            <div class=" grid-item-properties">
                <div id="smaller-icon"><img src="{{url_for('get_image', filename = i['image_name'])}}"/></div>
                    <div class="white">
                        <h4>{{i['title']}}</h4>
                        <br>

                        <div id="temp">
                            <p>{{i['location']}}</p>
                            <p><div class = 'pricey'>{{i['price']}}</div></p>
                        </div>
                    </div>
                    <div class= "green"><a id ="loop" href="{{url_for('propertyDetails', propertyid=i['propertyid'])}}">View Property</a></div>
                   
            </div>
            {%endfor%}
        </div>
        
    </div>
</ul>
{% endblock %}
